{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": true,
	"quoteProps": "preserve",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	]
}
